<div class="card-container">
  <div class="card-header">
    <h2>Seguimiento</h2>
  </div>

  <div class="card">
    <p-table
      [value]="datosVehiculos"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ width: '100%' }"
      currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
      [rowsPerPageOptions]="[10, 20, 30]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">Acciónes</th>
          <th pSortableColumn="id" style="width: 10%">
            Id <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="tipo" style="width: 10%">
            tipo <p-sortIcon field="tipo"></p-sortIcon>
          </th>
          <th pSortableColumn="direccion" style="width: 20%">
            dirección <p-sortIcon field="direccion"></p-sortIcon>
          </th>
          <th pSortableColumn="cantidad" style="width: 10%">
            cantidad <p-sortIcon field="cantidad"></p-sortIcon>
          </th>
          <th pSortableColumn="tiempo_inicio" style="width: 20%">
            tiempo inicio <p-sortIcon field="tiempo_inicio"></p-sortIcon>
          </th>
          <th pSortableColumn="tiempo_fin" style="width: 20%">
            tiempo fin <p-sortIcon field="tiempo_fin"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th class="text-center">
            <button
              class="pi pi-plus btnAction add-plus"
              (click)="showDialog()"
            ></button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-datosVehiculos>
        <tr>
          <td class="text-center">
            <button class="pi pi-pencil btnAction"></button>
            <button class="pi pi-trash btnAction"></button>
          </td>
          <td>{{ datosVehiculos.id }}</td>
          <td>{{ datosVehiculos.tipo }}</td>
          <td>{{ datosVehiculos.direccion }}</td>
          <td>{{ datosVehiculos.cantidad }}</td>
          <td>{{ datosVehiculos.tiempo_inicio }}</td>
          <td>{{ datosVehiculos.tiempo_fin }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Total de Vehiculos: {{ CantidadTotal }}
        </div>
      </ng-template>
      <ng-template pTemplate="paginatorcenter" />
    </p-table>
  </div>
</div>
<p-dialog
  header="Seguimiento"
  [(visible)]="visible"
  [modal]="true"
  [style]="{width: '50vw'}"
  [maximizable]="true"
  class="dialog-from"
>
<form class="from-container">
  <fieldset>
    <legend>Registro seguimiento</legend>
    <label>Tipos Vehiculos
      <p-dropdown formControlName="selectedTipo" [options]="Tipos" optionLabel="tipo" placeholder="Tipo Vehiculo"></p-dropdown>
    </label>
  
    <label>Direccion
      <p-dropdown formControlName="selectedDireccion" [options]="Direccion" optionLabel="direccion" placeholder="Direccion"></p-dropdown>
    </label>
  
    <label>cantidad
      <input type="number" min="1" max="100" value="1" style="width:200px;">
    </label>
    <p-calendar [style]="{'width':'30%'}" [showTime]="true" [showSeconds]="true"></p-calendar>
    <p-calendar [style]="{'width':'30%'}" [showTime]="true" [showSeconds]="true"></p-calendar>
  </fieldset>
</form>
</p-dialog>
