.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: var(--white);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #eee;
}
.card-container .card{
  width:100%;
  height:max-content;
  border: 1px solid #eee;
  padding: 10px;
}

.card-header {
  border-bottom: 1px solid #eee;
}
.btnAction{
  border: none;
  height:40px;
  width:40px;
  margin:0px 1px;
  border-radius:6px;
  color: var(--white);
}

.btnAction:nth-child(1){
  background-color:#1d67f1;
}
.btnAction.add-plus{
  background-color:var(--green);
  display:flex;
  align-items: center;
  justify-content: center;
  width:80px;
  text-decoration: none;
}
.btnAction.add-plus:hover{
  opacity:.8;
}
.btnAction:nth-child(2){
  background-color:#f02929;
}


