<div class="card-container">
  <div class="card-header">
    <h2>Seguimiento</h2>
  </div>

  <div class="card">
    <p-table
      [value]="datosVehiculos"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ width: '100%' }"
      currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
      [rowsPerPageOptions]="[10, 20, 30]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">Acciónes</th>
          <th pSortableColumn="id" style="width: 10%">
            Id <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="tipo" style="width: 10%">
            tipo <p-sortIcon field="tipo"></p-sortIcon>
          </th>
          <th pSortableColumn="direccion" style="width: 20%">
            dirección <p-sortIcon field="direccion"></p-sortIcon>
          </th>
          <th pSortableColumn="cantidad" style="width: 10%">
            cantidad <p-sortIcon field="cantidad"></p-sortIcon>
          </th>
          <th pSortableColumn="tiempo_inicio" style="width: 20%">
            tiempo inicio <p-sortIcon field="tiempo_inicio"></p-sortIcon>
          </th>
          <th pSortableColumn="tiempo_fin" style="width: 20%">
            tiempo fin <p-sortIcon field="tiempo_fin"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th class="text-center">
            <a href="/add/seguimientos"
              class="pi pi-plus btnAction add-plus"
            ></a>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-datosVehiculos>
        <tr>
          <td class="text-center">
            <button class="pi pi-pencil btnAction"></button>
            <button class="pi pi-trash btnAction"></button>
          </td>
          <td>{{ datosVehiculos.id }}</td>
          <td>{{ datosVehiculos.tipo }}</td>
          <td>{{ datosVehiculos.direccion }}</td>
          <td>{{ datosVehiculos.cantidad }}</td>
          <td>{{ datosVehiculos.tiempo_inicio }}</td>
          <td>{{ datosVehiculos.tiempo_fin }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Total de Vehiculos: {{ CantidadTotal }}
        </div>
      </ng-template>
      <ng-template pTemplate="paginatorcenter" />
    </p-table>
  </div>
</div>