header {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  h1 {
    color: var(--green);
  }

  button{
    background-color:transparent;
    border: none;
    color: var(--black);
    font-size: 24px;
  }
}

aside{
  display: flex;
  justify-content: center;
  padding: 10px;
}