<div class="container-form">
    <h2>Anotaciones Registro</h2>
    <form [formGroup]="form" (submit)="getDataForm()">
      <label class="labelInput">
        Grupo Tipo:
        <select formControlName="grupo_tipo">
          <option>Selecionar tipo vehiculo</option>
          @for (item of Tipos; track $index) {
          <option [value]="item.tipo">{{ item.tipo }}</option>
          }
        </select>
      </label>
      <label class="labelInput">
        Grupo Cantidad:
        <input type="number" [value]="1" min="1" max="100" formControlName="grupo_cantidad" />
      </label>
  
      <div class="labelInput">
        Tiempo Inicio
        <div>
          <label>
            Fecha:
            <input type="date" formControlName="date_inicio" />
          </label>
          <label>
            Tiempo:
           <div class="timeDate">
              <input type="text" [value]="dateTime1" formControlName="time_inicio" /><span (click)="addDateTime(1)"
              >ahora <i class="pi pi-clock"></i
            ></span>
           </div>
          </label>
        </div>
      </div>

      <div class="labelInput">
        Tiempo Fin
        <div>
          <label>
            Fecha:
            <input type="date" formControlName="date_fin" />
          </label>
          <label>
            Tiempo:
           <div class="timeDate">
              <input type="text" [value]="dateTime2"  formControlName="time_fin"/><span (click)="addDateTime(2)"
              >ahora <i class="pi pi-clock"></i
            ></span>
           </div>
          </label>
        </div>
      </div>

      <label class="labelInput">
        Observacion
        <textarea cols="30" rows="10" formControlName="observacion"></textarea>
      </label>
      <div class="container-action">
        <button type="submit">Guardar</button>
        <button type="submit">Guardar y agregar otro</button>
      </div>
    </form>
  </div>
  